<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Login jobUD</title>


</head>

<body class="bg-gradient-primary">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-11 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                      <div class="form-group">
                      <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist" >
                          <li class="nav-item">
                              <a class="nav-link active" id="estu-tab" data-toggle="tab" href="#estudiante" role="tab" aria-controls="estu" aria-selected="false">Estudiantes</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" id="empre-tab" name="empresario" data-toggle="tab" href="#empresario" role="tab" aria-controls="empresario" aria-selected="false">Empresarios</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" id="funci-tab" data-toggle="tab" href="#funcionario" role="tab" aria-controls="funcionario" aria-selected="true">Funcionario</a>
                          </li>
                        </ul>
                      </div>
                    <h1 class="h1 text-gray-900 mb-4">JobUD!</h1>
                  </div>
                  <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="estudiante" role="tabpanel" aria-labelledby="estu-tab">
                          <form (submit)="login()" >
                            <div class="form-group">
                                <input type="email" name="email" id="email" [(ngModel)]="email" class="form-control form-control-user"  aria-describedby="emailHelp" 
                                pattern="[a-zA-Z]+@correo.udistrital.edu.co*" [required]=true  placeholder="Ingrese correo electronico">

                            </div>
                            <div class="form-group">
                              <input type="password" [(ngModel)]="contrasena" class="form-control form-control-user" name="contrasena" id="contrasena" placeholder="Contraseña"
                              required="true">
                            </div>
                            <div class="form-group">
                              <div class="custom-control custom-checkbox small">
                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                <label class="custom-control-label" for="customCheck">Recuerdame</label>
                              </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-user btn-block">
                              Inciar sesión
                            </button>
                            <hr>
                            <a class="btn btn-google btn-user btn-block" (click) = "loginGoogle()">
                              <i class="fab fa-google fa-fw"></i> Iniciar sesión con Google+
                            </a>
                            <hr>
                            <div class="text-center">
                              <a class="small" href="/user/forgot-password">¿Olvidaste tu contraseña?</a>
                            </div>
                          </form> 
                      </div >
                      <div class="tab-pane fade" id="empresario" role="tabpanel" aria-labelledby="empre-tab">
                              <form class="/user/login" method="POST">
                                <div class="form-group">
                                  <input type="email" class="form-control form-control-user" name='email' id="email" aria-describedby="emailHelp" 
                                  placeholder="Ingrese correo electronico" required="true" 
                                  pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" >
                                </div>
                                <div class="form-group">
                                  <input type="password" class="form-control form-control-user" name="contrasena" id="password" placeholder="Contraseña"
                                  required="true">
                                </div>
                                <div class="form-group">
                                  <div class="custom-control custom-checkbox small">
                                    <input type="checkbox" class="custom-control-input" id="customCheck">
                                    <label class="custom-control-label" for="customCheck">Recuerdame</label>
                                  </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                  Inciar sesión
                                </button>
                                <hr>
                                <a href="" class="btn btn-success btn-user btn-block">
                                  Unirme a JobUD
                                </a>
                                <hr>
                                <div class="text-center">
                                  <a class="small" href="/user/forgot-password">¿Olvidaste tu contraseña?</a>
                                </div>
                              </form> 
                      </div>
                      <div class="tab-pane fade " id="funcionario" role="tabpanel" aria-labelledby="funci-tab">
                              <form class="/user/login" method="POST">
                                <div class="form-group">
                                  <input type="email" class="form-control form-control-user" name='email' id="email" aria-describedby="emailHelp" 
                                  placeholder="Ingrese correo electronico" required="true" 
                                  pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" >
                                </div>
                                <div class="form-group">
                                  <input type="password" class="form-control form-control-user" name="contrasena" id="password" placeholder="Contraseña"
                                  required="true">
                                </div>
                                <div class="form-group">
                                  <div class="custom-control custom-checkbox small">
                                    <input type="checkbox" class="custom-control-input" id="customCheck">
                                    <label class="custom-control-label" for="customCheck">Recuerdame</label>
                                  </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                  Inciar sesión
                                </button>
                              </form> 
                      </div>
                    </div>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</body>

</html>
