<form  >
  <div class="form-group row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <input type="number" class="form-control form-control-user" id="nit" placeholder="Nit"
      required="true" name="nit"  [(ngModel)]="nit" pattern="[A-Za-z]">
    </div>
    <div class="col-sm-6">
      <input type="text" class="form-control form-control-user" id="nombre" placeholder="Razón social"
      required="true" name="nombre" pattern="[A-Za-z]" [(ngModel)]="nombre">
    </div>
  </div>
  <div class="form-group">
    <input type="email" class="form-control form-control-user" id="email" placeholder="Correo electrónico"
    required="true" name="email" [(ngModel)]="email">
  </div>
  <div class="form-group">
    <input type="tel" class="form-control form-control-user" id="telefono" placeholder="Telefono"
    required="true" name="telefono" [(ngModel)]="telefono">
  </div>
  <br>
  <button type="submit" class="btn btn-primary btn-user btn-block">
      Enviar
  </button>
</form>