<div class="p-5">
  <div class="text-center">
    <h2 class="h4 text-gray-900 mb-2">¿Quieres unirte a JOBUD?</h2>
    <p class="mb-4">Si eres empresario y quieres pertenerce a JOBUD <br> envia tus datos para validarlos</p>
  </div>
  <form  >
    
      <div class="form-group">
        <input type="text" class="form-control form-control-user" id="nit" placeholder="Nit"
        required="true" name="nit"  [(ngModel)]="nit" pattern="[A-Za-z]">
      </div>
      <div class="form-group">
        <input type="text" class="form-control form-control-user" id="nombre" placeholder="Razón social"
        required="true" name="nombre" pattern="[A-Za-z]" [(ngModel)]="nombre">
    
    </div>
    <div class="form-group">
      <input type="email" class="form-control form-control-user" id="email" placeholder="Correo electrónico"
      required="true" name="email" [(ngModel)]="email">
    </div>
    <div class="form-group">
      <input type="tel" class="form-control form-control-user" id="telefono" placeholder="Telefono"
      required="true" name="telefono" [(ngModel)]="telefono">
    </div>
    <br>
    <button type="submit" class="btn btn-primary btn-user btn-block">
        Enviar
    </button>
  </form>
</div>
